@use '@/styles/mixins' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.info {
  display: flex;
  justify-content: center;
  color: $colorNeutral850;
  font-size: toRem(13);
  opacity: .8;
  gap: toRem(190);

  @include respond-below(xs) {
    flex-flow: wrap;
    text-align: center;
    font-size: toRem(14.4);
    padding: 0;
    gap: 0;
  };
}

.infoList {
  width: toRem(150);

  @include respond-below(xs) {
    flex: 0 0 50%;
    margin: 0 2.5% 0 2.5%;

    &:first-child {
      margin-bottom: toRem(16)
    }
  };
}

.infoListItem {
  line-height: toRem(16);

  span {
    margin-left: toRem(4);
  }
}
