{
  "plugins":  ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": false,
  "useTabs": false,
  "importOrder": ["react", "<THIRD_PARTY_MODULES>", "^@(.*)$", "^[./].*(?<!\\.(c|le|sc)ss)$", "\\.(c|le|sc)ss$"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
