@use '@/styles/mixins' as *;
@use '@/styles/colors' as *;

.input {
  width: 100%;
  font-size: toRem(24);
  font-weight: 300;
  border: none;
  margin: 0 toRem(16)
}

.searchBar {
  max-width: toRem(582);
  padding: 0 3%;
  margin: toRem(17) auto toRem(16) auto;

  & > div {
    box-shadow:
            rgba(0, 0, 0, 0.12) 0 toRem(1) 0,
            rgba(0, 0, 0, 0.12) 0 toRem(1) 0 !important;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: toRem(48)
}

.placeholder {
  position: absolute;
  z-index: -1;
  top: toRem(8);
  left: toRem(16);
  font-size: toRem(24);
  font-weight: 300;
  opacity: .3;
  transition: opacity .1s;

  &_hide {
    opacity: 0;
  }
}

.actionButtons {
  position: relative;
  width: 3.5em;
}

.searchButton,
.cleanButton {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: $colorNeutral50;
  transition: opacity .3s;
  border: none;

  &_hide {
    z-index: -10;
    opacity: 0;
  }
}

.cleanButton {
  cursor: pointer;
}
