@use '@/styles/mixins' as *;
@use '@/styles/colors' as *;

.loader-hidden {
  visibility: hidden;
}
.loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 500000;
  background: rgba(249, 249, 249, 0.3);
}

.spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  width: toRem(70);
  text-align: center;
  margin: toRem(-12) 0 0 toRem(-35);
}

.spinner > div {
  width: toRem(18);
  height: toRem(18);
  background-color: $colorNeutral900;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
